.prof{
  padding: 10px;
  background-color: #808080;
  border-radius: 30px;
  color: white;
}

.login-style{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-weight: 800;
}

.login-center{
  
}

.login-right{
  margin-right: 40px;
  padding: 10px;
  background-color: #808080;
  color: white;
  border-radius: 30px;
}

.login-right2{
  padding: 10px;
  background-color: #808080;
  color: white;
  border-radius: 30px;
}

.menu{
  border: 1px solid;
  display: flex;
  justify-content: space-around;
  padding: 3px;
  background-color: #808080;
  color: white;
  /* margin: 1px 150px; */
}

.main{
  display: flex;
  justify-content: space-around;
}

.start-left{
  border: 1px solid;
  /* margin-right:20px; */
}

.start-right{

}

.top-font-left{
  color: black;
  border: 1px solid;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.top-font-right{
  color: black;
  margin-top: 50px;
  border: 1px solid;
  /* margin-left:20px; */
}

.img-file{
width: 20vw;
height: 40vh;
margin-top: 30vh;
}

.fooder-main{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 20vh;
  margin-top: 30vh;
  padding-right: 30vw;
  background-color: #808080;
  color: white;
}

.center_from{
  display: flex;
  padding-top: 30px;
  justify-content: center;
  border: solid 1px;
}

.big-text{
  font-size: large;
}

.from_center{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px;
}
